/* _sass/custom.scss */

/* Hide footer everywhere */
.site-footer {
  display: none;
}

/* Hide page title everywhere*/
.page-title,
.post-title,
header.page-header h1,
h1 {
  display: none !important;
}

body {
  background-color: #f0f8ff; /* light blue */
}

